.wrap {
  padding: 48px;
  border: 1px solid #444;
}
.title {
  display: flex;
  flex-flow: column;
  gap: 12px;
}
.desc {
  display: flex;
  align-items: center;
  gap: 8px;
}
.main {
  display: flex;
  flex-flow: column;
  gap: 12px;
}
.main label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sub {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 7px;
  background-color: gold;
}
.img_grcode {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 180px;
  background-color: #000;
  color: #fff;
}
